:root {
  --max-page-width: 1024px;
  --primary-blue: #016d77;
  --visited: #473144;
  --primary-orange: #fe9288;
}

* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

h2 {
  font-size: large;
}

body {
  max-width: var(--max-page-width);
  margin: auto;
}

header {
  margin: 50px;
  text-align: center;
}

header ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding-left: 0;
}

a {
  color: var(--primary-blue);
}

/* a:visited {
  color: var(--primary-blue);
} */

.current {
  color: var(--primary-orange);
}

.posts-grid {
  display: flex;
  padding: 0px;
}

.post-title {
  text-align: center;
}

.posts-grid li {
  list-style: none;
  padding: 10px;
  max-width: calc(var(--max-page-width) / 3);
}

.posts-grid img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  overflow: hidden;
  object-position: top left;
}

.post-content {
  max-width: 100%;
}

.post-content p {
  display: flex;
  width: 100%;
}

.post-content img {
  margin: auto;
}
